<h1><%= @linea.name %></h1>

<% @linea.productos.each do |p| %>
<%= image_tag p.foto, :style => "max-width:300px" %>
<p><%= p.name %></p>
<p><%= p.marca %></p>
<p><%= p.sku %></p>
<% end %>


<%= link_to 'Edit', edit_linea_path(@linea) %> |
<%= link_to 'Back', lineas_path %>
